table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}
td {
  white-space: pre-wrap; 
  word-wrap: break-word;
  max-width: 500px;
  line-height: 18px;
  height: auto;
  vertical-align: middle;
}

.output {
  color:red;
}