.buttonWrapper {
  float: right;
}

.buttonLineWrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.buttonLineDivLeft {
  align-self: flex-start;
}

.buttonLineDivRight {
  align-self: flex-end;
}

.extensionTitle {
  line-height: 18px;
  height: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(to right, #e35503, #f4b793, #bd6939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.extensionButton {
  line-height: 18px;
  height: 18px;
}

.buttonImg {
  height: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonImg:hover {
  transform: scale(1.1);
}

.buttonImg::after {
  font-size: 12px;
  color: #e35503;
  position: absolute;
  top: -20px;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.buttonImg:hover::after {
  opacity: 1;
}

.outputAllRecords,
.outputReadLaters,
.outputNotes {
  width: 400px;
  padding: 10px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.outputReadLaters {
  margin-top: 5px;
}

ol {
  list-style-position: inside;
  padding: 0;
}

ol li {
  color: #b04202;
  background-color: #fcf7f4;
  padding: 5px;
  margin-top: 1px;
  border-radius: 5px;
  border: 1px #fbe0ce solid;
  text-align: left;
  vertical-align: middle;
  line-height: 18px;
}

.highlightLi {
  background-color: #ffd5bd;
  border: 1px #f0843d solid;
  animation: highlight 0.5s ease-in-out;
}

@keyframes highlight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.outputReadLaters a {
  width: 280px;
  display: inline-block;
  line-height: 18px;
  height: 18px;
  white-space:nowrap; 
  overflow:hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.outputReadLaters a:link {
  color: #b04202;
  text-decoration: none;
}

.outputReadLaters a:active {
  color: #8b3604;
}

.outputReadLaters a:visited {
  color: purple;
  text-decoration: none;
}

.outputReadLaters a:hover {
  color: #e35503;
  text-decoration: underline;
}

.titleReadLaters,
.titleAllRecords,
.titleNotes {
  font-size: 16px;
  font-weight: bold;
  color: #e35503;
  white-space:nowrap; 
  overflow:hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.titleReadLaters {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.titleAllRecords
{
  width: 350px;
}

.progress {
  padding-left: 3px;
  color:rgb(203, 146, 95);
}

.url {}

.message {}

.readedTimes {}

.buttonWithIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 4px;
  background-color: #e35503;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.buttonWithIcon:hover {
  background-color: #d44c00;
}

.buttonWithIcon img {
  margin-right: 8px;
  height: 16px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

  input[type=checkbox],
  input[type=radio] {
    --active: #e35503;
    /* #275EFE;*/
    --active-inner: #fff;
    --focus: 1px #b04202;
    /*rgba(39, 94, 254, .3)*/
    --border: #f1d1bf;
    /*#BBC1E1;*/
    --border-hover: #bd5b22;
    /*#275EFE;*/
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type=checkbox]:disabled+label,
  input[type=radio]:disabled+label {
    cursor: not-allowed;
  }

  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  input[type=checkbox]:after,
  input[type=radio]:after {
    opacity: var(--o, 0);
  }

  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --o: 1;
  }

  input[type=checkbox]+label,
  input[type=radio]+label {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox] {
    border-radius: 9px;
  }

  input[type=checkbox]:after {
    width: 4px;
    height: 7px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 4.5px;
    top: 1.5px;
    transform: rotate(var(--r, 20deg));
  }

  input[type=checkbox]:checked {
    --r: 43deg;
  }

  input[type=radio] {
    border-radius: 50%;
  }

  input[type=radio]:after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  input[type=radio]:checked {
    --s: .5;
  }
}

.outputNotesSeperatorDefault,
.outputNotesDefault {
  display: none; 
}

.outputNotesSeperator {
  
}

.noteItem {

}